---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>rabbitrun posts</subtitle>
  <link href="{{ "/feed.xml" | siteUrl }}" rel="self"/>
  <link href="{{ "/" | siteUrl }}"/>
  <updated>{{ collections.posts[0].data.date | dateToRfc3339 }}</updated>
  <id>{{ "/" | siteUrl }}</id>
  {% for post in collections.posts %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ post | postUrl | siteUrl }}"/>
    <updated>{{ post.data.date | dateToRfc3339 }}</updated>
    <id>{{ post | postUrl | siteUrl }}</id>
    <content type="html">{{ post.templateContent | transformWithHtmlBase(site.url) }}</content>
  </entry>
  {% endfor %}
</feed>
