---
layout: layout.njk
title: rabbitrun
---
<section>
  <h2>Projects</h2>
  <ul>
    {% for project in collections.projects %}
      <li>
        <a href="{{ project | projectUrl }}">{{ project.data.title }}</a>
        <span>{{ project.data.year }}</span>
        <span>{{ project.data.language }}</span>
      </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h2>Posts</h2>
  <ul>
    {% for post in collections.posts %}
      <li>
        <a href="{{ post | postUrl }}">{{ post.data.title }}</a>
        <time datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | htmlDateString }}</time>
        <span>{{ post.data.source }}</span>
      </li>
    {% endfor %}
  </ul>
</section>
