---
layout: layout.njk
title: Posts · rabbitrun
permalink: /posts/
---
<h2>文章</h2>
<ul class="posts">
  {% for post in collections.posts %}
    <li>
      <span class="date">{{ post.data.date | htmlDateString }}</span>
      <a href="{{ post | postUrl }}">{{ post.data.title }}</a>
      <span class="src">{{ post.data.source | sourceLabel }}</span>
    </li>
  {% endfor %}
</ul>
