---
layout: layout.njk
title: Projects · rabbitrun
permalink: /projects/
---
<h2>项目</h2>
  {% for project in collections.projects %}
    <div class="item">
      <span class="year">{{ project.data.year }}</span> <b><a href="{{ project | projectUrl }}">{{ project.data.title }}</a></b> —
      <span class="desc">{{ project.templateContent | striptags | trim }}</span>
      <span class="meta">{{ project.data.language }}{% if project.data.stars %} · ⭐ {{ project.data.stars }}{% endif %} · {{ project.data.repo }}</span>
    </div>
  {% endfor %}
